html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.app-header {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  padding: .8rem;
  color: #474731;
}

.title {
  flex-grow: 1;
  font-size: 1.5rem;
}
.settings-icon {
  width: 1.6rem;
  height:1.6rem;
  flex-shrink: 0;
  margin-left: .8rem;
}

.search-container {
  position: relative;
  width: 45%;
}

.search-box {
  padding: 4px 8px;
  border-radius: 8px;
  width: 99%;
  height: 32px;
  border: none;
  box-shadow: inset 0px 1px 2px 1px #DDDDDD;
}

.search-clear-icon-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
}

.search-clear-icon {
  width: 14px;
  height: 14px;
  background: #373741;
  padding: 5px;
  border-radius: 50%;
}

.footer {
  height: 24px;
  border-top: 1px solid #f5f5f5;
}

#HandsontableCopyPaste {
  display: none;
}

.progress-wrapper {
  height: 30px;
  background-color: #F5F5F5;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 2px 1px #DDDDDD;
}

.progress {
  background-color: #337AB7;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.slider-wrapper {
  height: 30px;
  width: calc(100% - 20px);
  margin: 10px;
}

.rc-slider-rail {
  height: 30px;
  border-radius: 15px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 1px 2px 1px #DDDDDD;
}

.rc-slider-track {
  height: 30px;
  background-color: #337AB7;
}

.rc-slider-handle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: inset 0px 1px 2px 1px #dcdcde;
  background-color: #E6E6E6;
  margin-top: 0;
  margin-left: -15px;
}
